a {
	color: #000;
	text-decoration: none;
}
.header {

}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header_blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(201, 251, 201);
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
  padding: 20px 10px;
}

.header_blog-navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header_blog-ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header_blog-nav {
	
}

.header_blog-link {


}

.active {
  color: red;
  border-bottom: 1px solid red;
}

.header__blog-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}